@use 'typography';
@use 'colors';

.work h1 {
    opacity: 0.5;
    margin-block-end: 1.5rem;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: unset;
}

.work {
    justify-content: center;
    align-items: center;
}

.work .hero {
    bottom: unset;
    width: 100vw;
    margin: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    max-width: 590px;

    article {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-block-end: 1.5rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.3;
        }
    }

    p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.1;
    }
}

.work-scroll-page {
    // position: fixed;
    inset: 0;
    background: #00113c;
    overflow: hidden;
    z-index: 1;
}

.offcanvas {

    will-change: transform;
    outline: 2px solid red;
    /* temp for visual trace */
}

.scrolling-logos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    pointer-events: auto;
}

.scroll-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.scroll-item:hover {
    transform: scale(1.05);
}

.scroll-item img {
    width: 120px;
    height: auto;
}

.offcanvas {
    // // position: fixed;
    top: 65.3px;
    right: 10.4px;
    // width: 775.57px;
    height: 120vh;
    // transform: rotate(-4deg) !important;
    background: #e3f2fd;
    // z-index: 999;
    // overflow-y: auto;
    padding: 2rem;
    // // transform: translate(100%, -200px);
    // display: flex;
    transition: transform 450ms ease-in;
    // // box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    // // clip-path: polygon(0 10%, 100% 0, 100% 100%, 7% 100%);
    position: absolute;
    // top: 0;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
    will-change: transform;
    transform-origin: top center;
}

.sidebar-content {
    transform: rotate(4deg);
}

.close-btn {
    transform: rotate(4deg);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}


.tag {
    background: #007bff;
    color: #fff;
    padding: 4px 8px;
    margin-right: 6px;
    border-radius: 4px;
    font-size: 0.75rem;
    display: inline-block;
}

.sidebar-content {
    padding: 89px 99px 0;

    h2 {
        font-size: typography.$text-h5;
        font-weight: 700;
        line-height: 1.08333;
        text-transform: uppercase;
        color: colors.$hkw-blue-100;
        padding-block-end: 1.5rem;
    }

    h3 {
        text-box-trim: both;
        text-box-edge: cap;
        font-weight: 500;
    }

    .services-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding-block-end: 1.5rem;

        .description {
            font-weight: 400;
        }

        ul {
            display: flex;
            gap: 4px;

            li {
                padding: 8px;
                color: colors.$hkw-neutral-white !important;
                background-color: colors.$hkw-blue-300;

            }
        }
    }

    p {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: -0.36px;
        color: colors.$hkw-blue-100;
    }

    img {
        width: 100%;
        margin: 1rem 0;


    }
}
