@use './styles/reset';
@use './styles/colors';
@use './styles/typography';
@use './styles/nav';
@use './styles/letters';
@use './styles/about';
@use './styles/form';
@use './styles/marmot';
@use './styles/services';
@use './styles/work';
@use './styles/staff';
@use './styles/testimonials';
@use './styles/trivia';



html {
    font-family: 'AcuminVF', Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    font-size: 100%;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    margin: 0;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

    &.blue {
        position: relative;
        background-color: colors.$hkw-blue-100;
    }

    &.red {
        position: relative;
        height: 100vh;
        background-color: colors.$hkw-red-200;
    }
}

.scroll-item-wrapper {
    max-width: 100vw;

    @media (min-width: 768px) {
        max-width: 50vw;
    }

}

.scroll-content {
    width: 100%;
    z-index: 4;
    margin-inline: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding-bottom: 20vh;

    .scroll-wrapper {
        position: relative;
        overscroll-behavior: contain;
        display: grid;
        grid-template-columns: auto;
        padding-bottom: 40vh;

        @media (min-width: 768px) {
            grid-template-columns: auto auto;
        }
    }
}
